.container {
 
    padding: 0 1rem;
 
  }
  


.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:20px;
}
.header img{
  width: 100px;
  margin: 0 auto;
}

.navigation{
  display:none;
  font-weight: 200;

}

.navigation a{
  margin-right:15px;
}

.menu_button{
  display: block;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 8px;
}  

.menu_button h2{
  margin:0;
  
}

.main_title{
  font-size: 20px;
  font-weight: 300;
}



.show_menu{
  text-align: center;
  opacity: 1;
  transition: all .3s;
  max-height: 999px;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 10px;
}

.hide_menu{
  opacity: 0;
  text-align: center;
  transition: all .3s;
  max-height: 0;
}

  .navmobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0px;
  }

  .backToHome {
    margin: 3rem 0 0;
  }

  .logo_title{
    display: flex;
    display: block;
    align-items: center;
  }

  .ham_wrapper{
    width: 40px;
    margin: 0 auto;
    line-height: 5px;
  }

  .hamburger{
    width: 30px;
    height: 2px;
    display: inline-block;
    background: black;
    z-index: 9999;
    border-radius: 10px;
    transform:rotateX(0deg);
    transition: all 1s;
  }

  .ham_animate{
    width: 30px;
    height: 2px;
    display: inline-block;
    background: black;
    z-index: 9999;
    border-radius: 10px;
    transform:rotateY(180deg) scale(0.8, 0.8);
    transition: all 1s;
  
  }





  /* media query */

  @media only screen and (min-width: 640px) {

    .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 0px; 
    padding-bottom: 0px;
    border-bottom: 1px solid #b6b6b6;
    }

    .show_menu{
      border-bottom: 0px;
    }

    .logo_title{
      display: flex;
    }
    .header img{
      width: 64px;
      margin: 10px;
    }

    .navigation{
      
      display: inline-flex;
    }

    .navmobile{
      display:none;
    }

    .menu_button{
      display: none;
    }
  }