.container {
 
    padding: 0 1rem;
 
  }
  


.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:20px;
}
.header img{
  width: 100px;
  margin: 0 auto;
}

.navigation{
  display:none;
  /* display: inline-flex; */
}

.navigation a{
  margin-right:5px;
}

.menu_button{
  display: block;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #bdbdbd;
}  

.menu_button h2{
  margin:0;
  
}

.main_title{
  font-size: 20px;
}



.show_menu{
  text-align: center;
  opacity: 1;
  transition: max-height, .3s, opacity .3s;
  max-height: 999px;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 10px;
}

.hide_menu{
  opacity: 0;
  text-align: center;
  transition: max-height, .3s, opacity .3s;
  max-height: 0;
}

  .navmobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0px;
  }

  .backToHome {
    margin: 3rem 0 0;
  }

  /* media query */

  @media only screen and (min-width: 640px) {

    .header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
    }

    .navigation{
      
      display: inline-flex;
    }

    .navmobile{
      display:none;
    }

    .menu_button{
      display: none;
    }
  }